
.homeMain{
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeBetween{
    display: flex;
    justify-content: space-between;
}
.homeHeader{
    text-align: center;
}
.buttonAgain{
    padding: 0.625rem 3.75rem;
    font-size: 3.75rem;
    border-radius: 50px;
    background-color: #629eff;
    font-family: Gabriola;
    font-weight: bold;
    justify-self: start;
    box-shadow: 1px 1px 10px 5px black;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.buttonAgain:hover{
transform: translateY(-3px);
box-shadow: 0px 5px 10px 5px;
}
.buttonAgain:active{
transform: translateY(3px);
box-shadow: 0px 0px 10px 1px;
}
.number{
    font-size: 6.25rem;
    text-align: center;
    font-family: Gabriola;
    font-weight: bold;
    margin: auto;
    border: 3px solid black;
    width: 12.5rem;
    padding: 0.625rem 3.75rem;
    border-radius: 50px;
    margin-bottom: 6.25rem;
    background-color: #fffffc;
}
.homeMain{
    display: flex;
    justify-content: space-around;
}
.left{
    text-align: center;
}
.left input{
    font-family:Gabriola;
    text-align: center;
   font-size: 6.25rem;
   width:18.75rem;
   height:12.5rem;
   border-radius: 50px;
   border: 5px black solid;
   font-weight: bold;
}
.left button{
    font-size: 3.125rem;
    font-family: Gabriola;
    font-weight: bold;
    padding: 0.625rem 2.5rem;
    border-radius: 40px;
    box-shadow: 1px 1px 10px 5px black;
    margin-top: 1.875rem;
    background-color: #ffa7ff;
     transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.left button:hover{
    transform: translateY(-2px);
box-shadow: 0px 1px 10px 0px;
    
}
.left button:active{
    transform: translateY(3px);
box-shadow: 0px 0px 10px 1px;
}
.right .message{
    text-align: center;
    border: 3px solid black;
    padding: 10px 30px;
    border-radius: 50px;
    font-weight: bold;
    margin-bottom: 1.25rem;
}


/*Responsivenes*/

/*Tablet Screen*/
@media (max-width:768px){
    .buttonAgain{
        font-size: 2.5rem;
    }
    .left button{
        font-size: 2.5rem;
    }
    .left input{
        font-size: 4rem;
        width: 12rem;
        height: 8rem;
    }
    .right .message{
        font-size: 2.5rem;
    }
    .number{
        display: grid;
        font-size: 3rem;
        width: 12rem;
        height: 10rem;
        align-items: center;
    }
    .labelScore{
        font-size: 2.5rem;
        justify-self: center;
    }
    .labelHighscore{
        font-size: 2.5rem;
        justify-self: center;
    }
    .homeMain{
        display: flex;
        justify-content: space-between;
    }
    .right{
        display: grid;
    }
}

